body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.img-list{
  position: relative;
  left: 200px;
  align-items: center;
  display: flex;
}

.im{
  width: 200px;
  height: 200px;
  padding: 20px;
}
.heading {
  text-align: center;
}

.form{ 
  position: relative;
  top: 2%;
  left: 20%;
  align-items: center;
  align-self: center;
  width: 1000px;
}

h1{
  font-weight: 630;
  color: black;
  font-size: 50px;
}
button{
  width: 1000px;
  height: 30px;
  color:white;
  font-weight: 700;
  border-radius: 5px;
  background-blend-mode: lighten;
  background-color:rgb(4, 70, 85);
}
h5{
  font-style: normal;
  font-weight: 0;
}